.env
# .env.local
# .env.*.local
.env.*
node_modules
dist
.claude/backups
.memory/*
.agent-cache/*
/doc/*
/web/.next/
/web/.next/*
# data/*
src/cli-tui/.coding-agent
test-agent
typescript
apps/agent-cli-ink-v2/data/*

/test-memory

data
data/agent-memory
request.json